<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Edit Skills</title>
</head>
<body>
    <h1>Edit Skill Below</h1>
    <h3><%= skill.skill %> </h3>

    <form action="/skills ?_method=PUT" method="POST">
    <input type="text" name="skill" placeholder="<%= skill.skill %>" >
    <button type="submit">Edit Skill</button>
    </form>
</body>