<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Skill</title>
</head>
<body>
    <h1>ADD SKILLS</h1>

    <form action="/skills" method="POST">Add New Skill
    <input type="text" name="skill">
    <button type="submit">Save Skill</button>
    </form>
</body>
</html>