<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
        <title>Document</title>
</head>
<body>
    <body>
        <h1>Skill</h1>
        <h3><%= skill.skill %></h3>
        <h3>Experience: <%= skill.experience %></h3>
        <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
      </body>
</body>
</html>